@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/css/custom.css */

[data-theme='dark'] {
  --ifm-color-primary: #00ff00;
  --ifm-color-primary-dark: #00ff00;
  --ifm-color-primary-darker: #00ff00;
  --ifm-color-primary-darkest: #00ff00;
  --ifm-color-primary-light: #00ff00;
  --ifm-color-primary-lighter: #00ff00;
  --ifm-color-primary-lightest: #00ff00;
  --ifm-background-color: #000000;
}

:root {
  background-color: #000000;
}

/* 黑客风格配色方案 */
body {
  color: #00ff00; /* 绿色文字 */
  font-family: 'Courier New', Courier, monospace; /* 等宽字体 */
  font-weight: bold;
}

a {
  color: #ff0000; /* 红色链接 */
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: #00ff00; /* 绿色标题 */
  font-family: 'Courier New', Courier, monospace; /* 等宽字体 */
  font-weight: bold;
  font-size: 32px;
}

/* 添加一些动画效果 */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start infinite;
}

/* Make navbar items bold */
.navbar__item {
  font-weight: bold;
}

.navbar {
  background-color: #000000;
}

.menu {
  background-color: #000000;
}

.menu__link {
  &.menu__link--active {
    background-color: #000000;
  }
}

